<div class="panel panel-default socialPanel">
  <div class="panel-heading">
    <h3 class="panel-title">Social/Contact Links</h3>
  </div>
  <div class="panel-body">
    <div class="btn-group" role="group">
      <a class="socialLink btn btn-default btn-flat" ng-repeat="link in socialLinks" ng-href="{{link.url}}" target="_blank"><i class="fa" ng-class="link.icon"></i></a>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Email Me</h3>
  </div>
  <div class="panel-body">
  </div>
</div>

