<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">I've worked with some pretty awesome people. Here are some of them.</h3>
  </div>
  <div class="panel-body">
    <div gallery-standardize class="container-fluid gallery">
      <div class="row">
        <div ng-repeat="client in clients" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <a class="thumbnail" ng-href="{{client.url}}" target="_blank">
            <img ng-src="{{client.img}}" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Code Samples</h3>
  </div>
  <div class="panel-body">
    <p data-height="268" data-theme-id="0" data-slug-hash="EjdRRG" data-default-tab="result" data-user="emanb29" class='codepen'>See the Pen <a href='http://codepen.io/emanb29/pen/EjdRRG/'>EjdRRG</a> by Ethan Bell (<a href='http://codepen.io/emanb29'>@emanb29</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
    <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
    <hr/>
    The FizzBuzz was easy. After all, what's the most obvious thing to include in a code sample? However, I'd love some more ideas for code demos to put up here.
  </div>
</div>
