<div class="jumbotron">
  <h2>My name is Ethan Bell</h2>
  <h3>I make webstuff</h3>
  <p class="lead">
    <img src="images/weemee.png" alt="Ethan Bell"><br>
    <!-- Always a pleasure scaffolding your apps. -->
  </p>
  <p>
    <a class="btn btn-lg btn-material-green" ng-href="#/contact">Let's work together!</a>
    <br/>
    <small><a target="_blank" href="uploads/ResumePro.pdf">Resume</a></small>
  </p>
</div>

<div class="row marketing">
  <h4>A Step Ahead</h4>
  <p>
    I make it my business to always utilize the most powerful tools available to the web. This means that you as a client get not only a high "bang for your buck", but also that your application is simple, intuitive, and elegant. Some of my favorite technologies include Node.JS, AngularJS, Express, Mongoose, and Laravel.
  </p>
  <h4>At a glance</h4>
  <p>
    Looking for a javascript genius? I can handle that! Need a node ninja? Look no further! Are you in the market for a PHP prince? Let me take a look!
  </p>
  <p>
    For your convenience, below is a quick summary of some of my strongest skills. This list is by no means comprehensive. If you are looking for something that you don't see below, please <a href="#/contact">reach out to me</a> and we can discuss!
  </p>
  <p>
    <div ng-repeat="skill in skills" class="row">
      <div class="col-md-2">{{skill.name}}</div>
      <div class="col-md-10">
        <div class="progress">
          <div class="progress-bar progress-bar-material-{{skill.color}} progress-bar-striped active" style="width: {{skill.percent}}%"></div>
        </div></div>
    </div>
    <small>The filled portion is indicative of the percentage of the technology in which I consider myself proficient</small>
  </p>
  <h4>Let's get real</h4>
  <p>
    Sure, a pretty chart showing high proficiencies is great, but why take my word for it? Check out my <a href="#/demos">code samples</a>, take a look at <a target="_blank" href="https://github.com/emanb29/portfolio">the code for this website</a>, or take a peek at any of the other projects on my <a target="_blank" href="https://github.com/emanb29">GitHub</a>
  </p>
  <h4>The old-school approach</h4>
  <p>Looking for my <a target="_blank" href="uploads/ResumePro.pdf">resume?</a></p>
</div>
